{% extends 'base.html' %}
{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>{{ lesson.title }}</h1>
  <p class="text-muted">Модуль: {{ lesson.module.title }}</p>

  {% if lesson.image %}
    <img src="{{ lesson.image.url }}" class="img-fluid mb-3" alt="Зображення до уроку">
  {% endif %}

  {% if lesson.video_url %}
    <div class="ratio ratio-16x9 mb-3">
      <iframe src="{{ lesson.video_url }}" frameborder="0" allowfullscreen></iframe>
    </div>
  {% endif %}

  <div class="mb-4">
    <h5>Зміст уроку</h5>
    <p>{{ lesson.content|linebreaks }}</p>
  </div>

  {% if lesson.assignment %}
    <div class="mb-4">
      <h5>Завдання</h5>
      <p>{{ lesson.assignment|linebreaks }}</p>
    </div>
  {% endif %}


</div>
{% endblock %}
